@import '../base';

:root {
  --Header-height: 4rem;
}

/* @define Header */
.Header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: var(--Header-height);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(var(--color-blue));
  user-select: none;
}

.Header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media (min-width: 600px) {
  :root {
    --Header-height: 5rem;
  }
}

@media (min-width: 1000px) {
  :root {
    --Header-height: 7rem;
  }
}

/**
 * Logo
 */

.Header-home {
  display: inline-block;
  position: relative;
  top: 0.1rem;
  white-space: nowrap;
  font-weight: bold;
}

.Header-home:active {
  opacity: 0.6;
}

.Header-logo {
  width: 8.5rem;
}

@media (min-width: 800px) {
  .Header-home {
    font-size: 1.75rem;
  }

  .Header-logo {
    width: 11rem;
  }
}

/**
 * Desktop navigation
 */

.Header-list {
  display: none;
  white-space: nowrap;
}

@media (min-width: 800px) {
  .Header-menu {
    margin-top: 0.6rem;
  }

  .Header-list {
    display: flex;
    height: 100%;
    margin-right: -1rem;
  }

  .Header-item {
    height: 100%;
    position: relative;
  }

  .Header-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.6rem 1rem;
    border-radius: 0.1875rem;
  }

  .Header-link:hover .Header-label {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 0.14em;
  }

  .Header-link:active .Header-label,
  .Header-link:active .Header-title {
    opacity: 0.6;
  }

  .Header-label {
    display: inline-block;
  }

  .Header-item--dropdown .Header-link {
    padding-right: 0.7rem;
  }

  .Header-dropdown {
    width: 16rem;
    pointer-events: none;
    position: absolute;
    right: -2rem;
    top: calc(100% - 1px);
    z-index: 102;
    font-size: 0.75rem;
    color: rgba(var(--color-muted));
    background: rgb(255, 255, 255);
    border-radius: 0.375rem;
    opacity: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02),
      0 30px 100px -20px rgba(50, 50, 93, 0.2),
      0 30px 60px -30px rgba(0, 0, 0, 0.2),
      0 -18px 30px -10px rgba(0, 0, 0, 0.03);
    transition: 100ms var(--ease-in);
    transition-property: transform, opacity;
    will-change: transform, opacity;
    transform: translateY(1rem);
  }

  .Header-dropdown .Header-link {
    display: block;
    padding: 0.8rem 1rem;
    white-space: initial;
  }

  .Header-dropdown .Header-item:first-child .Header-link::before {
    border-radius: 0.375rem 0.375rem 0 0;
  }

  .Header-dropdown .Header-item:last-child .Header-link::before {
    border-radius: 0 0 0.375rem 0.375rem;
  }

  .Header-dropdown .Header-link > * {
    position: relative;
  }

  .Header-dropdown .Header-link::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 400ms var(--ease-out);
    background: linear-gradient(
      to right,
      rgba(var(--color-gray), 0.4),
      rgba(var(--color-gray), 0.8) 30%,
      rgba(var(--color-gray), 1) 70%,
      rgba(var(--color-gray), 0.4)
    );
  }

  .Header-dropdown .Header-link:hover::before {
    opacity: 1;
    transition: none;
  }

  .Header-title {
    display: block;
    margin-bottom: 0.15rem;
    color: rgb(var(--document-color));
    font-size: 0.875rem;
  }

  .Header:not(.is-navigating) .Header-link:hover + .Header-dropdown,
  .Header:not(.is-navigating) .Header-dropdown:focus-within,
  .Header:not(.is-navigating) .Header-dropdown:hover {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: 300ms 70ms var(--ease-out);
  }
}

@media (min-width: 1000px) {
  .Header-menu {
    font-size: 1.125rem;
  }
}

/**
 * Toggle button
 */

.Header-toggle {
  display: block;
  width: 48px;
  height: 48px;
  position: relative;
  right: -13px;
  border-radius: 0.1875rem;
}

@media (min-width: 600px) {
  .Header-toggle {
    right: -15px;
  }
}

.Header-toggle:active {
  background: rgba(0, 0, 0, 0.1);
}

@media (min-width: 800px) {
  .Header-toggle {
    display: none;
  }
}

.Header-figure {
  width: 20px;
  height: 18px;
  margin: -10px 0 0 -9px;
  position: absolute;
  top: 25px;
  left: 23px;
}

.Header-lines::after,
.Header-lines::before {
  content: '';
}

.Header-lines,
.Header-lines::after,
.Header-lines::before {
  position: absolute;
  width: 20px;
  height: 2px;
  transition: transform 150ms var(--ease);
  border-radius: 0.1875rem;
  background-color: currentColor;
}

.Header-lines {
  top: 50%;
  margin-top: -1px;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 200ms;
}

.Header-lines::before {
  top: -8px;
  transition: top 200ms ease 0.12s, opacity 200ms ease;
}

.Header-lines::after {
  bottom: -8px;
  transition: bottom 200ms ease 0.12s,
    transform 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/**
 * Open state
 */
@media (max-width: 799px) {
  .Header.is-open {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #000;
    background: rgb(var(--color-gray));
    transform: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .Header.is-open .Header-logo {
    color: transparent;
  }

  .Header.is-open .Header-lines {
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(45deg);
  }

  .Header.is-open .Header-lines::before {
    top: 0;
    transition: top 200ms ease, opacity 200ms ease 0.12s;
    opacity: 0;
  }

  .Header.is-open .Header-lines:after {
    bottom: 0;
    transition: bottom 200ms ease,
      transform 200ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transform: rotate(-90deg);
  }
}
