@import "../base";

/* @define Button */
.Button {
  display: inline-block;
  padding: 1em 2rem;
  border: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  white-space: nowrap;
  border-radius: 0.1875rem;
  text-decoration: none;
}

.Button,
.Button:hover {
  color: rgb(var(--color-blue));
  background-color: rgb(var(--color-pink));
}

.Button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.Button--yellow,
.Button--yellow:hover {
  background-color: rgb(var(--color-yellow));
}

.Button--orange,
.Button--orange:hover {
  color: #fff;
  background-color: rgb(var(--color-orange));
}

.Button--turquoise,
.Button--turquoise:hover {
  color: #fff;
  background-color: rgb(var(--color-turquoise));
}

.Button--pink,
.Button--pink:hover {
  background-color: rgb(var(--color-pink));
}

.Button--blue,
.Button--blue:hover {
  color: #fff;
  background-color: rgb(var(--color-blue));
}

.Button--gray,
.Button--gray:hover {
  background-color: rgb(var(--color-gray));
}
