@import "../base";

/* @define Button */
.Button {
  display: inline-block;
  padding: 1em 2rem;
  border: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  border-radius: 0.1875rem;
  text-decoration: none;
}

.Button,
.Button:hover,
.Button:active {
  color: rgb(var(--color-twilight));
  background-color: rgb(var(--color-pink));
}

.Button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.Button--primary,
.Button--primary:hover,
.Button--primary:active {
  color: #fff;
  background-color: rgb(var(--color-moss));
}
