@import "../base";

/* @define Hero */
.Hero {
  display: flex;
  flex-direction: column;
  padding: 5rem 0 8rem;
  color: #fff;
  background-color: rgb(var(--color-gray));
}

.Hero::before {
  flex: 0 1 auto;
  content: "";
  height: 10vh;
}

@media (min-width: 600px) {
  .Hero::before {
    height: 26vh;
  }
}

.Hero-body {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.4;
}

@media (min-width: 600px) {
  .Hero-body {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  .Hero-body {
    font-size: 2.4rem;
  }
}

@media (min-width: 1400px) {
  .Hero-body {
    font-size: 3rem;
  }
}

.Hero-label {
  font-size: 1rem;
  font-weight: normal;
}

.Hero-body h1 {
  margin-bottom: 1.2em;
  font-size: 1.6em;
}

.Hero-body :link,
.hero-body :visited {
  color: #B2E9FF;
  white-space: nowrap;
  border-bottom: 1px solid currentColor;
}

/**
 * Themes
 */

.Hero--twilight {
  background-color: rgb(var(--color-twilight));
}

.Hero--pink {
  color: rgb(var(--color-twilight));
  background-color: rgb(var(--color-pink));
}

.Hero--moss {
  background-color: rgb(var(--color-moss));
}
