@import "../base";

/* @define Person */
.Person {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.Person-figure {
  flex: 0 0 16vw;
  max-width: 180px;
  margin-right: 2.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  opacity: 1;
  transition: opacity 200ms ease;
}

.Person-figure::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.Person-image {
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@supports (object-fit: cover) {
  .Person-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: none;
  }
}

.Person-info {
  flex: 1 1 auto;
  font-size: 0.9rem;
}

.Person-title {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.Person-info a:not(.Person-link) {
  color: rgb(var(--color-link));
  border-bottom: 1px solid transparent;
}

.Person-info a:hover {
  border-bottom-color: currentColor;
  color: rgb(var(--color-link));
}

.Person-link {
  display: inline-block;
  margin-bottom: 0.5em;
  color: currentColor;
  border-bottom: 1px solid transparent;
}
