:root {
  --color-moss: 6, 121, 105;
  --color-pink: 255, 179, 179;
  --color-twilight: 17, 0, 70;
  --color-gray: 244, 243, 246;
  --color-divider: 226, 226, 266;

  --color-muted: 0, 0, 0, 0.5;

  --color-link: 71, 21, 231;

  --document-font-family: "Basier Circle", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --document-font-size: 1rem;
  --document-line-height: 1.5;

  --document-background: 255, 255, 255;
  --document-color: 0, 0, 0;

  --document-width: 1800px;
  --document-margin: 1.2rem;

  --container-large-width: var(--document-width);
  --container-medium-width: 43rem;
  --container-small-width: 30rem;

  --loading-color: 0, 0, 0, 0.06;
  --loading-color-solid: 235, 235, 235;

  --focus-ring-width: 3px;
  --focus-ring-color: var(--color-twilight);

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 350px) {
  :root {
    --document-margin: 1.5rem;
  }
}

@media (min-width: 400px) {
  :root {
    --document-margin: 1.8rem;
  }
}

@media (min-width: 600px) {
  :root {
    --document-margin: 2.5rem;
  }
}

@media (min-width: 1000px) {
  :root {
    --document-margin: 3.5rem;
  }
}
