@import "../base";

/** @define Text */
.Text {
  color: rgb(var(--current-color));
  font-family: var(--default-font-family);
  line-height: var(--default-line-height);
  font-size: 1rem;
  text-align: left;
  max-width: var(--container-medium-width);
}

.Text--center {
  margin-left: auto;
  margin-right: auto;
}

.Text--muted,
.Text-muted {
  color: rgb(var(--color-muted));
}

.Text--small,
.Text-small {
  font-size: 1rem;
}

@media (min-width: 350px) {
  .Text {
    font-size: 1.125rem;
  }

  .Text--small,
  .Text-small {
    font-size: 0.9rem;
  }
}

@media (min-width: 800px) and (min-height: 400px) {
  .Text {
    font-size: 1.25rem;
  }

  .Text--small,
  .Text-small {
    font-size: 1rem;
  }
}

/**
 * Inline elements
 */

.Text small {
  font-size: 0.875rem;
}

.Text a:not(.Embed-link) {
  color: rgb(var(--color-link));
  border-bottom: 1px solid currentColor;
  font-weight: 600;
  transition: color 100ms var(--ease-out);
}

.Text a:not(.Embed-link):active {
  opacity: 0.5;
}

/**
 * Block elements
 */

.Text p,
.Text ul,
.Text ol,
.Text h1,
.Text h2,
.Text h3,
.Text h4,
.Text h5,
.Text h6 {
  margin: 0.8em 0;
}

.Text p:first-child,
.Text ul:first-child,
.Text ol:first-child,
.Text h1:first-child,
.Text h2:first-child,
.Text h3:first-child,
.Text h4:first-child,
.Text h5:first-child,
.Text h6:first-child {
  margin-top: 0;
}

.Text p:last-child,
.Text ul:last-child,
.Text ol:last-child,
.Text h1:last-child,
.Text h2:last-child,
.Text h3:last-child,
.Text h4:last-child,
.Text h5:last-child,
.Text h6:last-child {
  margin-bottom: 0;
}

.Text img:not(.Embed-image) {
  display: block;
  width: 100%;
  height: auto;
  margin: 2.2em 0;
  border-radius: 0;
}

@media (min-width: 600px) {
  .Text img:not(.Embed-image) {
    border-radius: 0.375rem;
  }
}

.Text-caption {
  margin: -1.2em 0 1.6em;
  font-size: 1rem;
  text-align: right;
}

.Text-caption:empty {
  display: none;
}

@media (min-width: 800px) and (min-height: 400px) {
  .Text img:not(.Embed-image) {
    margin: 4em 0;
  }

  .Text-caption {
    margin: -2.5em 0 2.5em;
  }
}

.Text pre {
  font-size: 0.8rem;
  overflow: auto;
  background: rgb(var(--color-blue));
  color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: left;
}

/**
 * Lists
 */

.Text ul,
.Text ol {
  margin: 0;
}

.Text ul:not(:first-child),
.Text ol:not(:first-child) {
  margin-top: calc(1.2em - 0.5em);
}

.Text ul:not(:last-child),
.Text ol:not(:last-child) {
  margin: 1.2em;
}

.Text ul {
  list-style-type: none;
}

.Text ol {
  list-style-type: decimal;
  padding-left: 1.7em;
}

.Text ul > li {
  padding-left: 1.2em;
  position: relative;
}

.Text ol > li {
  padding-left: 0.5em;
}

.Text ul > li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: calc(0.5em + 0.6em);
  background: currentColor;
}

.Text li {
  padding-top: 0.5em;
}

/**
 * Headings
 */

.Text h1,
.Text h2,
.Text h3,
.Text h4,
.Text h5,
.Text h6,
.Text .Text-h1,
.Text .Text-h2,
.Text .Text-h3,
.Text .Text-h4,
.Text .Text-h5,
.Text .Text-h6 {
  font-weight: bold;
  line-height: 1.25;
}

.Text h1,
.Text .Text-h1 {
  font-size: 1.55em;
}

.Text h2,
.Text .Text-h2 {
  font-size: 1.33rem;
  line-height: 1.35;
  margin-top: 2em;
}

.Text h3,
.Text .Text-h3 {
  margin: 0 0 -0.4em 0;
}

@media (min-width: 600px) {
  .Text h2,
  .Text .Text-h2 {
    font-size: 1.8rem;
  }

  .Text h3,
  .Text .Text-h3 {
    margin: 0.8em 0;
    font-size: 1.1em;
  }
}

@media (min-width: 1400px) {
  .Text h2,
  .Text .Text-h2 {
    font-size: 2.5rem;
    line-height: 1.25;
  }
}

.Text h4,
.Text .Text-h4 {
  font-size: 1em;
  margin-top: 1.4em;
}

.Text h5,
.Text .Text-h5 {
  font-size: 0.9em;
  text-transform: uppercase;
}

.Text h6,
.Text .Text-h6 {
  font-size: 0.8em;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(var(--color-muted));
}

@media (min-width: 800px) and (min-height: 400px) {
  .Text h1,
  .Text .Text-h1 {
    font-size: 2.1em;
  }
}
