@import "../base";

/* @define Facts */
.Facts {
  padding: var(--document-margin);
  background-color: #F4F3F6;
}

.Facts-heading {
  font-size: 1.375rem;
  margin-bottom: 1rem;
}

@media (min-width: 900px) {
  .Facts-body {
    column-count: 2;
    column-gap: 1.5rem;
  }
}


.Facts-body li,
.Facts-body p {
  break-inside: avoid-column;
}
