@import "../global";

/* @define utilties */
.u-colorMoss { color: rgb(var(--color-moss)) !important; }
.u-colorPink { color: rgb(var(--color-pink)) !important; }
.u-colorTwilight { color: rgb(var(--color-twilight)) !important; }
.u-colorGray { color: rgb(var(--color-divider)) !important; }

.u-bgMoss { background-color: rgb(var(--color-moss)) !important; }
.u-bgPink { background-color: rgb(var(--color-pink)) !important; }
.u-bgTwilight { background-color: rgb(var(--color-twilight)) !important; }
.u-bgGray { background-color: rgb(var(--color-divider)) !important; }
